* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
  }

  /** HEADER **/
  #header-nav {
    background-color:grey;
    border-radius: 0;
    border: 0;
  }
 
 
  .navbar-header {
      height: 8vh;
  }

  
  .navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle.collapsed:hover {
      background-color: white;
  }

  .navbar-header button.navbar-toggle, button.navbar-toggle .icon-bar, .navbar-header  button.navbar-toggle:focus {
    border: 2px solid white;
    background-color: grey;
  }


  .navbar-header button.navbar-toggle.collapsed, button.navbar-toggle.collapsed .icon-bar ,.navbar-header button.navbar-toggle.collapsed:focus{
    border: 2px solid black;
    background-color: grey;
  }

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
  
  .navbar-brand h1 { /* Restaurant name */
    font-size: 175%;
    font-weight: bold;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #collapsable-nav  {
    color:beige;
    clear:both;
  }
  #nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #nav-list a {
    color:black;
    text-align: center;
    border-right: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;

  }
  #nav-list a:hover {
    background:rgb(250, 250, 203);
  }
  #nav-list a span {
    font-size: 125%;
  }

  #menu-header {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .menu-item-header {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-item {
      border: 1px black solid;
      background: grey;

  }
  .menu-item-content {
    width: 90%;
    margin: 0 auto 0;
  }
